.container{
	background-image: url(branches.png);
	background-size: cover;
	filter: blur(10px);
	background-position: center center;
	height: 100%;
	position: fixed;
	left: 0;
	right: 0;
	z-index: -1;
}
.main{
	position: sticky;
	display: flex;
	justify-content: center;
	font-family: sans-serif;
	color: rgb(100,255,100);
	font-size: 3vw;
	transition: 1s ease;
	text-decoration: none;
}

.main:hover{
	color: rgb(80,30,70);
	transform: scale(1.5);
}

.about1{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.pic1{
	display: flex;
	justify-content: center;
	width: 50vw;

	clip-path: circle(30%);
}

.text1{
	width: 50vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: rgb(100,255,100);
	font-family: sans-serif;
	
	}

.head1{
	font-size: clamp(20px,3vw,40px);
	font-weight: bolder;
	color: rgb(100,255,100);
	position: relative;
	text-decoration: none;
	transition: 1s ease;
	text-align: center;
}

.para1{
	padding: 10px;
	font-weight: bold;
	font-size: clamp(15px,2vw,30px);
	text-align: center;
}


.l1{
	display: flex;
	justify-content: center;
	transition: 1s ease;

}

.link1{
	display: flex;
	align-items: center;
	justify-content: center;
}

.l1:hover{
	transform: scale(1.5);
}

.l2{
	display: flex;
	justify-content: center;
	transition: 1s ease;

}

.l2:hover{
	transform: scale(1.5);
}

.about2{
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.text2{
	width: 50vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: rgb(100,255,100);
	font-family: sans-serif;
	
}

.head2{
	font-size: clamp(20px,3vw,40px);
	color: rgb(100,255,100);
	font-weight: bolder;
	position: relative;
	top: 30%;
	transition: 1s ease;
	text-decoration: none;
	text-align: center;
}

.para2{
	padding: 10px;
	font-size: clamp(15px,2vw,30px);
	font-weight: bold;
	position: relative;
	text-align: center;
	top: 30%;
}


@media screen and (max-width: 999px){

	.about1{
		flex-direction: column;
	}

	.text1{
		width: 100vw;
	}

	.pic1{
		width: 100vw;
	}

	.about2{
		flex-direction: column-reverse;
	}

	.text2{
		width: 100vw;
	}

	.pic2{
		width: 100vw;
	}

	.Project3{
		flex-direction: column;
	}

	.text3{
		width: 100vw;
	}
	.pic3{
		width: 100vw;
	}
}
